<div class="gnb">
    <!-- GNB will be rendered here dynamically -->
</div>

<div class="hd-etc">
    <ul class="util">
        <li>
            <button type="button" class="btn_hamburger" style="padding: 5px 10px; background: #333; color: #fff; border: none; cursor: pointer;">
                ☰ 전체메뉴
                <span class="blind" style="display:none;"></span>
            </button>
        </li>
    </ul>
</div>

<div class="rnb" style="display:none;">
    <!-- RNB will be rendered here dynamically -->
</div>
